export GOOGLE_APPLICATION_CREDENTIALS=$GOPATH/src/github.com/techcampman/insta-team-5_2/.credentials/cyberagent-149-a71d1db8118b.json
export MYSQL_DATA_SOURCE="root@tcp(127.0.0.1:9000)/instagram?parseTime=true&loc=Local&charset=utf8mb4"
export MONGO_DATA_SOURCE="mongodb://localhost:27017"
